/* styles/footer.module.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 80px 110px 0 110px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  gap: 51px;
  padding-bottom: 51px;
}

.footerContainer p{
  flex: 1;
}

.section {
  margin: 20px 0;
  flex: 1;
}

.followSection {
  flex: 1;
  /* text-align: center; */
  display: flex;
    gap: 43px;
}

.newsSection {
 flex: 1;
}

.checkboxLabel {
  display: block;
  margin-bottom: 10px;
}

.checkboxInput {
  width: 20px; 
}

.emailInput {
  width: 100%; 
  margin-left: 5px;
}

.copyrightSection {
  text-align: center;
  padding: 20px 0;
}

.footerText{
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
}

.followText{
  font-size: 20px;
}

.followSection a{
  border: 1px solid white;
    padding: 7px;
    border-radius: 20%;
    display: flex;
}

.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.backToTop:hover {
  background-color: #fff;
  color: #333;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 40px 20px 0 20px;
  }

  .footerContainer {
    gap: 50px; 
  }

  .footerText {
    font-size: 24px; 
    text-align: center;
  }

  .followText {
    font-size: 14px; 
  }

  .backToTop {
    padding: 5px;
  }
}