.worksSection {
    padding: 110px 0;
    /* background-color: #edece5; */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .worksTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .worksTitle h1{
    font-size: 36px;
    color: #333;
    text-align: center;
    /* margin-bottom: 40px; */
    /* font-family: 'Poppins'; */
  }
  
  .workCardContainer {
    flex: 0 0 auto;
    /* width: 70%; */
    margin-right: 20px;
    scroll-snap-align: start;
    
  }

  .magicpattern { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath fill=%22none%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3Cpath d=%22M0 500h0c112.36 30.636 224.72 61.271 336 42s221.478-88.449 331-105c109.522-16.551 218.366 19.524 333 26 114.634 6.476 235.056-16.645 345-25 109.944-8.355 209.408-1.942 330 19 120.592 20.942 262.312 56.412 320 66 57.688 9.588 31.344-6.706 45-23%22 fill=%22none%22 stroke=%22%23ff6484%22 stroke-width=%222%22 stroke-linecap=%22round%22%2F%3E%3C%2Fsvg%3E");
  }
  
  .workContainer{
    display: flex;
    gap: 20px;
  }


  .workCard{
    width: 100%;
    transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid rgba(15, 14, 14, 0.1);
    border-radius: 12px;
    padding: 40px;
    display: flex;
    gap: 20px;
  }

  .workCard:hover{
    background-color: #edece5;
  }

  .workCardSecond{
    width: 625px;
    transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid rgba(15, 14, 14, 0.1);
    border-radius: 12px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .workCardSecond:hover{
    background-color: #edece5;
  }


  .cardDetails{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
  }

  .cardDetails .btn{
    width: fit-content;
    /* padding: 9px 24px; */
    /* border-radius: 5px; */
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    /* background-color: red; */
    color: #0F0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconWork{
    transform: rotate(45deg);
  }

  .btn:before {
    inset-inline-start: 0;
    width: 0;
    bottom: 0;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #5355DF;
    transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

  .cardDetails .btn:hover{
    background-color: rgb(27, 115, 42);
    color: white;
  }

  .workImage {
    width: 50%;
    border-radius: 5px;
    background-color: rgba(255, 127, 80, 0.1);

    height: max-content;
    padding: 20px;
    border-radius: 10px;
  }

  
  .workImage:hover{
    background-color: #fd7e14;
  }

  .workImageSecond {
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 127, 80, 0.1);
    height: max-content;
    padding: 20px;
    border-radius: 10px;
  }
  
  .workImageSecond:hover{
    background-color: #fd7e14;
  }
  
  .serviceContent {
    text-align: center;
  }
  
  .cardDetails h4{
    font-size: 24px;
    font-weight: 500;
    /* font-family: 'Poppins'; */
  }
  
  .cardDetails p{
    font-size: 16px;
    font-weight: 200;
    /* font-family: 'Poppins'; */
    line-height: 25px;
  }
  
  /* .image{
    height: 100%;
  } */

  @media only screen and (max-width: 768px) {
    .container {
      padding: 0 20px;
    }

    .workContainer {
      display: flex;
      gap: 20px;
      flex-direction: column;
  }

  .workCardSecond{
    width: 100%;
    padding: 20px;
  }

  .workCard{
    padding: 20px;
    align-items: center;
  }

 .workImage{
    height: fit-content;  
  }

  .image{
    height: fit-content;
  } 

  }